<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="fixed-header">
<mat-toolbar-row>
  <span><img src="./../assets/angular-white-transparent.svg" style="width: 50px;"></span>
  <a mat-button routerLink="/customer-list" routerLinkActive="active">Customers</a>
  <a mat-button routerLink="/customer-create">Create Customer</a>
  <a mat-button routerLink="/starwars">Starwars</a>
  <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
</mat-toolbar-row>
</mat-toolbar>
<main>
  <router-outlet style="margin-top: 80px;"></router-outlet>
</main>

